<div class="auth-orbit" aria-hidden="true">
    <svg class="auth-orbit-svg" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
        <image class="auth-orbit-img" href="/assets/ui/naruto_running.png" width="24" height="24" preserveAspectRatio="xMidYMid meet" />
    </svg>
</div>